body {
    text-align: center;
}

.main-container {
    max-width: 800px; 
    margin: 0 auto; 
}

h2 {
    text-align: left;
}

.upper {
    text-align: center;
}

button {
    margin-left: 2rem; 
    padding: 1rem; 
    /* display: block;  */
    /* margin: 2rem  0 ; */
    border: 1px solid red; 
}

table, th, td {
    border: 1px solid red; 
    margin: 0 auto; 
    
}

table {
    margin-top: 3rem; 
}

tr {
    height: 2rem;
    width: 1rem; 
    padding: 1rem; 
    margin: 1rem; 

}

th, td {
    width: 3rem; 
    height: 2rem; 
}